@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Technologies:
    <ul>
        <li>HTML5 & CSS3 & JavaScript (jQuery library)</li>
        <li>ASP.NET MVC 5 Core Application</li>
        <li>Entity Framework 6 Code First</li>
    </ul>
</p>
