@{
    ViewData["Title"] = "About";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">@ViewData["Message"]</p>
</div>

<p>
    Technologies:
    <ul>
        <li>HTML5 & CSS3 & JavaScript (jQuery library)</li>
        <li>ASP.NET MVC 5 Core Application</li>
        <li>Entity Framework 6 Code First</li>
    </ul>
</p>
