@{
    ViewData["Title"] = "Contact";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">@ViewData["Message"]</p>
</div>

<p>This project on <a href="https://github.com/giuliannosbrugnera/mvc-library">GitHub</a>.</p>
