@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>Library</h1>
    </div>
    <p class="lead">Web application developed under the first part of my Study Plan.</p>
    <p>This application makes use of ASP.NET MVC Core Application, with Entity Framework Code First.</p>
</div>
